#root {
  text-align: center;
}

.navBar{
  background-color: rgb(0, 191, 255);
  color: #ffffff; 
  padding: 20px;
  display: flex;  
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

img {
  max-height: 200px;
  max-width: 200px;
}

button{
  font-size: 18px;
  color: #ffffff;
  background-color: #0073e6;
  border: none;
  border-radius: 8px;
  margin: 20px;
  height: 80px;
  width: 250px;
  cursor: "pointer";
  transition: box-shadow 0.2s ease,
  background-color 0.2s ease; 

}

button:hover {
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.493); }

button:active{
  background-color:#0055a9
}

.pages-bar{
  padding-top: 10px;
  padding-bottom: 10px;
  display: flex;  
  justify-content: space-around;
  flex-wrap: wrap;
  align-items: center;
  background-color: #ffffff;
}

.page-button{
  font-size:16px;
  color: white;
  background-color: rgb(112, 112, 255);
  border: none;
  border-radius: 8px;
  margin: 5px;
  height: 70px;
  width: 300px;
  cursor: "pointer";
  display: flex; 
  justify-content: center;
  align-items: center;
  transition: background-color 0.7 easy;
}

.page-button:hover{
  background-color: rgb(56, 53, 138);
}


.link-page:hover{
  text-decoration: none;
  box-shadow: rgb(104, 137, 160);
}

.home-background {
  display: flex;
  color:white;
  text-shadow: 3px 10px 20px black;
  font-size: 200px;
  font-family: 'Brush Script MT', cursive;
  flex-wrap: wrap;
  background-color: #ffffff;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 50vh; 
  margin: 0; 
  padding: 0; 
  
}

footer{
  background-color:rgb(59, 99, 147);
  color:white;
  display:flex;
  justify-content: center;
  align-items: center;
  bottom: 0px; 
  height: 100px;
}

.search-timetable{
  display: flex;
  justify-content: center;
  align-items: center;
}



.upper-form{
  display:flex;
  justify-content:center;
  align-items: center;
}

.lower-form{
  gap: 30px
}

.register-lbl{
  width: 100%;
}

.register-input{
  width:300px;
}


.menu-button {
  color: white;
  padding: 10px 20px;
  border: none;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border-bottom-left-radius: 0; 
  border-bottom-right-radius: 0;
  position: relative;
}

.menu-button:hover{
  box-shadow: none;

}
.menu-button .dropdown {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;  
  background-color: #0073e6;
  color: white;
  padding: 10px 0;
  border-radius: 0 0 5px 5px;
  width: 100%;
  text-align: center;
}

.menu-button:hover .dropdown {
  display: block;
  background-color: #0073e6;
  
}
.menu-button .dropdown .dropdown-item {
  display: block;
  color:white;
  padding: 10px 20px;
  cursor: pointer;
  background-color: #0073e6;

}
